<div class="position-sticky top-0 z-3">

    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded-4 m-3 p-2 position-sticky top-0 shadow-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/addProduct" class="text-decoration-none nav-link text-black" href="#">Añadir Producto</a>
            </li>
            <li class="nav-item">
                <a routerLink="/divisas" class="text-decoration-none nav-link text-black" href="#">Divisas</a>
            </li>
            <li class="nav-item">
                <a routerLink="/ControlTickets" class="text-decoration-none nav-link text-black" href="#">Control de Tickets</a>
            </li>
            <li class="nav-item">
                <a routerLink="/addViewer" class="text-decoration-none nav-link text-black" href="#">añadir espectador</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
</nav>
</div>